.appName {
  text-align: center;
  margin: auto;
  border: 2px solid #FFBF00;
  padding: 20px;
  background-color: #FFBF00;
}

.Menu {
  overflow: hidden;
  background-color: #2A2B2DFF;
}

.Menu button {
  float: left;
  display: inline-block;
  color: #2DA8D8FF;
  text-align: center;
  padding: 16px 32px;
  font-size: 16px;
  margin: 2px 2px;
  text-decoration: none;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: #2A2B2DFF;
  border: 2px solid #2DA8D8FF;
}

.Menu button:hover {
  background-color: #2DA8D8FF;
  color: #2A2B2DFF;
}

.MainText {
  float: center;
  text-align: center;
  background-color: #181729;
  padding: 10px;
  padding-bottom: 30%;
}

.QueryTitle {
  color: #C8FFF6;
  font-size: 130%;
}

.Update_msg {
  color: #C8FFF6;
}

.Output {
  font-size: 130%;
}

.Result_msg_section {
  color: #C8FFF6;
}

.Best_route_section {
  color: #C8FFF6;
}

.Alternative_routes_section {
  color: #C8FFF6;
}

.Output button {
  color: #2DA8D8FF;
  text-align: center;
  padding: 16px 32px;
  font-size: 16px;
  margin: 2px 2px;
  text-decoration: none;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: #2A2B2DFF;
  border: 2px solid #2DA8D8FF;
}

.Output button:hover{
  background-color: #2DA8D8FF;
  color: #2A2B2DFF;
}

.Output table {
  /*
  color: #2A2B2DFF;
  background-color: #C8FFF6;
  */
  margin-left: 10px;
  color: #2DA8D8FF;
  background-color: #2A2B2DFF;
  width: 95%;
  table-layout: fixed;
}

html {
  box-sizing: border-box;
}
